<div cdkDropList class="character-list" (cdkDropListDropped)="drop($event)" *ngIf="difficulty != 0">
  <mat-card *ngFor="let character of characters; index as i"
            [ngClass]="{
            'character-card':true,
            'house-targaryen':character.house == 1,
            'house-baratheon':character.house == 2,
            'house-stark':character.house == 3,
            'house-arryn':character.house == 4,
            'house-tully':character.house == 5,
            'house-lannister':character.house == 6,
            'house-martell':character.house == 7,
            'house-bolton':character.house == 8,
            'house-greyjoy': character.house == 9,
            'house-tyrell': character.house == 10,
            'house-frey': character.house == 11,
            'house-tarly': character.house == 12,
            'house-baelish': character.house == 13
            }" cdkDrag>
    <mat-card-header>
      <img mat-card-avatar class="character-image" src="{{character.imageUrl}}" />
      <mat-card-title>
        <b *ngIf="showAdditionalInfo">{{character.order}}-</b>{{character.name}}
        <img mat-card-avatar class="character-image" *ngIf="character.house == 1" src="./images/targaryen-sigil.png" /> <!--Targaryen-->
        <img mat-card-avatar class="character-image" *ngIf="character.house == 2" src="./images/baratheon-sigil.png" /> <!--Baratheon-->
        <img mat-card-avatar class="character-image" *ngIf="character.house == 3" src="./images/stark-sigil.png" /> <!--Stark-->
        <img mat-card-avatar class="character-image" *ngIf="character.house == 4" src="./images/arryn-sigil.png" /> <!--Arryn-->
        <img mat-card-avatar class="character-image" *ngIf="character.house == 5" src="./images/tully-sigil.png" /> <!--Tully-->
        <img mat-card-avatar class="character-image" *ngIf="character.house == 6" src="./images/lannister-sigil.png" /> <!--Lannister-->
        <img mat-card-avatar class="character-image" *ngIf="character.house == 7" src="./images/martell-sigil.png" /> <!--Martell-->
      </mat-card-title>
      <mat-card-subtitle>{{character.deathDescription}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="!collapsed">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header style="position: absolute; right: 0px; top: 0px;"></mat-expansion-panel-header>
        <div *ngIf="showAdditionalInfo">
          <b style="display: inline">Season: </b>
          <p>{{character.season}}</p>
          <b style="display: inline">Episode: </b>
          <p>{{character.episode}}</p>
        </div>
        <img mat-card-image src="{{character.imageUrl}}" alt="Photo of {{character.name}}">
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
