<div>
  <h1 class="title">When Did They Die</h1>
  <div class="character-container">
    <button class="submit-button" (click)="endGame()" *ngIf="gameState == 1">Submit</button>
    <h1 *ngIf="gameState == 2">Score: {{gameResult.score}}</h1>
  </div>
</div>

<div *ngIf="difficulty == 0" class="selecting-difficulty-box">
  <button mat-raised-button (click)="startGame(1)">Easy</button>
  <button mat-raised-button color="primary" (click)="startGame(2)">Medium</button>
  <button mat-raised-button color="warn" (click)="startGame(3)">Hard</button>
</div>

<div *ngIf="gameState == 0">
  <div class="name-box">
    <mat-form-field class="name-input">
      <input matInput placeholder="Name">
    </mat-form-field>
  </div>
  <div class="switch-button-box">
    <span class="active-test" [ngStyle]="{'left': difficulty === 1 ? '0%' : difficulty === 2 ? '33.3%' : '66.6%'}"></span>
    <button [ngClass]="{'switch-button-case':true, active:difficulty===1}" (click)="difficulty=1">EASY</button>
    <button [ngClass]="{'switch-button-case':true, active:difficulty===2}" (click)="difficulty=2">MEDIUM</button>
    <button [ngClass]="{'switch-button-case':true, active:difficulty===3}" (click)="difficulty=3">HARD</button>
  </div>
  <button class="start-button" (click)="startGame(difficulty)">Start</button>
</div>

<mat-tab-group *ngIf="gameState == 1 && difficulty > 1">
  <mat-tab label="Season 1">
    <div class="character-container">
      <character-list-component [characters]="season1Characters"></character-list-component>
    </div>
  </mat-tab>
  <mat-tab label="Season 2">
    <div class="character-container">
      <character-list-component [characters]="season2Characters"></character-list-component>
    </div>
  </mat-tab>
  <mat-tab label="Season 3">
    <div class="character-container">
      <character-list-component [characters]="season3Characters"></character-list-component>
    </div>
  </mat-tab>
  <mat-tab label="Season 4">
    <div class="character-container">
      <character-list-component [characters]="season4Characters"></character-list-component>
    </div>
  </mat-tab>
  <mat-tab label="Season 5">
    <div class="character-container">
      <character-list-component [characters]="season5Characters"></character-list-component>
    </div>
  </mat-tab>
  <mat-tab label="Season 6">
    <div class="character-container">
      <character-list-component [characters]="season6Characters"></character-list-component>
    </div>
  </mat-tab>
  <mat-tab label="Season 7">
    <div class="character-container">
      <character-list-component [characters]="season7Characters"></character-list-component>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="character-container">
  <character-list-component [characters]="characters" *ngIf="gameState == 2 || (difficulty == 1 && gameState == 1)"></character-list-component>
  <character-list-component [characters]="gameResult.correctCharacterOrder" [showAdditionalInfo]="gameState == 2" *ngIf="gameState == 2"></character-list-component>
</div>
