/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.character-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: inline-block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px;
}

.character-card {
  padding: 5px !important;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.character-image {
  background-size: cover;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-tab-link:hover {
  text-decoration: none !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.selecting-difficulty-box button{
  margin-right: 8px;
}

.house-targaryen {
  background-image: linear-gradient(to right, black, white);
}

.house-baratheon {
  background-image: linear-gradient(to right, rgb(171,146,105), white);
}

.house-stark {
  background-image: linear-gradient(to right, rgb(212,205,178), white);
}

.house-arryn {
  background-image: linear-gradient(to right, rgb(17,26,40), white);
}

.house-tully {
  background-image: linear-gradient(to right, rgb(34,35,79), white);
}

.house-targaryen b,
.house-targaryen p,
.house-targaryen mat-card-subtitle,
.house-targaryen mat-card-title {
  color: white;
}
