/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.character-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: inline-block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px;
}

.character-card {
  padding: 5px !important;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.character-image {
  background-size: cover;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-expansion-panel {
  background: transparent !important;
}

.mat-tab-link:hover {
  text-decoration: none !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.house-targaryen {
  background-image: linear-gradient(to right, black, white);
}

.house-baratheon {
  background-image: linear-gradient(to right, rgb(171,146,105), white);
}

.house-stark {
  background-image: linear-gradient(to right, rgb(212,205,178), white);
}

.house-arryn {
  background-image: linear-gradient(to right, rgb(17,26,40), white);
}

.house-tully {
  background-image: linear-gradient(to right, rgb(34,35,79), white);
}

.house-lannister {
  background-image: linear-gradient(to right, rgb(134,12,17), white);
}

.house-martell {
  background-image: linear-gradient(to right, rgb(238,134,67), white);
}

.house-targaryen b,
.house-targaryen p,
.house-targaryen mat-card-subtitle,
.house-targaryen mat-card-title {
  color: white;
}

.episode-break {
  font-family: "got-font";
}

.title {
  font-family: "got-font";
  text-align: center;
}

@font-face {
  font-family: "got-font";
  src: url('/fonts/Game of Thrones.ttf') format('truetype');
}



.switch-button-box {
  width: 600px;
  height: 40px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate3D(-50%, -50%, 0);
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: .3s ease all;
  border: 2px solid black;
  background-color: black;
}

.switch-button-case:hover {
  color: grey;
  cursor: pointer;
}

.switch-button-case:focus {
  outline: none;
}

.switch-button-case {
  display: inline-block;
  background: none;
  width: 33.3%;
  height: 100%;
  color: white;
  position: relative;
  border: none;
  transition: .3s ease all;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 3;
  padding: 1px;
}

.active-test {
  position: absolute;
  left: 0;
  top: 0;
  width: 33.3%;
  height: 100%;
  color: #151515;
  background-color: white;
  z-index: -1;
  transition: .3s ease-out all;
}

.active {
  color: black;
}

.start-button {
  display: inline-block;
  background: none;
  width: 200px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
  background-color: black;
  color: white;
  position: absolute;
  border: none;
  transition: .3s ease all;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 3;
  padding: 1px;
}

  .start-button:hover {
    color: grey;
    cursor: pointer;
  }

  .start-button:focus {
    outline: none;
  }

.name-input {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.name-box {
  width: 400px;
  height: 40px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate3D(-50%, -50%, 0);
  will-change: transform;
}

.submit-button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  left: 50%;
  top: 15%;
  transform: translate3D(-50%, -50%, 0);
  background-color: black;
  color: white;
  position: relative;
  border: none;
  transition: .3s ease all;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 1px;
}

  .submit-button:hover {
    color: grey;
    cursor: pointer;
  }

  .submit-button:focus {
    outline: none;
  }

.mat-tab-label {
  min-width: 158.5px !important;
  padding: 3px !important;
}

.character-container {
  text-align: center;
}

.mat-card-subtitle{
  text-align:left;
}

.mat-card-title{
  text-align: left;
}


figure {
  width: 250px;
  height: 250px;
  background-color: #000;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

img {
  max-width: 100%;
  max-height: 100%;
}
